extends layout

block head
  style
    html, body{
      width: 100% !important;
      height: 100% !important;
      padding: 0;
      margin: 0;
    }

block content
  #wrapper-login
    .top
      span.topBanner
        h1.pageTitle I'm Bored
    br
    a(href='/business/register')
      button#showr.start-button Register your business to get started!

